@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 228 20% 10%;
    --card: 0 0% 100%;
    --card-foreground: 228 20% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 20% 10%;
    --primary: 228 63% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 228 20% 10%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 20 98% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 12 81% 59%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 228 63% 48%;
    --radius: 0.875rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
